.canvas{
    width: 500px;
    height: 600px;
    background-color: lightblue;
    overflow: hidden;
    filter: blur(2px);
}

.frame{
    border: 50px solid gainsboro;
    width: 500px;
    padding: 50px;
    margin: 20px auto
}

.one{
    width : 425px;
    height: 150px;
    background-color: bisque;
    margin: 20px auto;
    box-shadow: 0 0 2px 2px whitesmoke;
    border-radius: 8px 10px 8px 10px;
    transform: rotate(0.6);
    transform: rotate(0.4deg);

}
.one,.two{
    filter: blur(1px);
}
.two{
    width: 475px;
    background-color: beige;
    height: 200px;
    margin: 0 auto 20px;
    box-shadow: 0 0 2px 2px rgb(167, 196, 184);
    border-radius: 8px 10px 8px 10px;
    transform: rotate(-0.6deg);

}

.three{
    width: 91%;
    height: 28%;
    background-color: lightpink;
    margin: auto ;
    filter: blur(3px);
    box-shadow: 0 0 2px 2px lightpink;
    transform: rotate(1deg);
    border-radius: 20px 20px 20px 20px;
}